.home-container {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: start; 
    align-items: center;
    padding-top: 20px; 
  }
  
  .home-container h1 {
    padding: 30px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
  }
  
  .home-container p {
    text-align: center;
    font-size: 1.2rem;
  }

 /* Mărimimea caruselului */
.custom-carousel {
  max-width: 50%; 
  margin: 0 auto; 
  height: 400px; 
}


  
  body{
    justify-content: center;
  }

  .typing-text {
    font-size: 3rem;
    font-weight: bold;
    color: #007bff;
    white-space: nowrap;
    overflow: hidden; /* Ascunde restul textului */
    border-right: 3px solid #007bff; /* Simulează cursorul */
    width: 0; /* Începe fără text vizibil */
    animation: typing 4s steps(30) 1s forwards, blink 0.75s step-end infinite;
  }
  
  /* Animația de tipărire */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 35%;
    }
  }
  
  /* Animația de blink (cursor) */
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  