.home-container {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: start; 
    align-items: center;
    padding-top: 20px; 
  }
  
  .home-container h1 {
    padding: 30px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
  }
  
  .home-container p {
    text-align: center;
    font-size: 1.2rem;
  }

 /* Mărimimea caruselului */
.custom-carousel {
  max-width: 50%; 
  margin: 0 auto; 
  height: 400px; 
}


  
  body{
    justify-content: center;
  }